.sidebar-container{
    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;

    /*margin-right: 5%;*/
    /*width: 30%;*/
}

.sidebar-container2{

    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    /*margin-left: 5%;*/
    margin-right: 0%;
    position: fixed;
    right: 0;



}

.sidebar {

    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.sidebar-link{
    padding: 10px;
}

.sidebar-link:hover{
    border-right: 5px solid dimgray;
    background-color: gainsboro;
}