/* FormPopup.css */

.component-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    font-size: 20px;
    max-height: 80%;

}

.form-label {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 0px;*/
}

.form-input {
    width: 100%;
    /*padding: 4px;*/
    margin-top: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.close-btn,
.add-button {
    padding: 10px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-select {
    /*width: 20%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    width: 100%;
}

.popup-select select {
    margin-left: 10px; /* Dodatkowy odstęp od lewej strony selecta */
}

.popup-inner {
    position: relative;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: #FFF;
}
.component-form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dwie kolumny o równej szerokości */
    gap: 60px; /* Dodaj margines między kolumnami */

}

.form-column-left {
    grid-column: 1 / 2; /* Kolumna lewa */
}

.form-column-right {
    grid-column: 2 / 2; /* Kolumna prawa */
}

.form-buttons {
    grid-column: span 2; /* Rozciągnij na obie kolumny */
    display: flex;
    justify-content: space-between;
    /*margin-top: 5px;*/
}

.message-popup {
    background-color: #ffcccc; /* Czerwone tło */
    border: 1px solid #cc0000; /* Rama czerwona lub innego odcienia czerwieni */
    border-radius: 8px; /* Zaokrąglenie rogów */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Cień */
    padding: 20px; /* Wewnętrzny odstęp */
    max-width: 400px; /* Maksymalna szerokość okna */
    margin: 20px auto; /* Centralizacja na stronie */
    text-align: center; /* Wyśrodkowanie tekstu */
}

